.catalog {
  width: 100%;
}

.catalog__wrapper {
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 30px 0;
  text-align: center;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  box-sizing: border-box;
  text-align: center;
}

.catalog__name {
  color: @black;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog__name-link {
  color: @black;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.catalog__table {
  font-size: 12px;
  line-height: 16px;
}

.catalog__show-more-name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.catalog__description {
  font-size: 12px;
  line-height: 16px;
  display: block;
  margin: 0 auto;
  width: 180px;
}

.catalog__order {
  margin: 0 auto;
}

.catalog__show-all {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 170px;
  }

  .catalog__wrapper {
    padding: 0 30px;
    width: 768px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    background-color: @bg-gray;
    width: 324px;
    margin-right: 60px;
    margin-bottom: 140px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+7) {
    margin-bottom: 20px;
  }

  .catalog__name {
    font-size: 20px;
  }

  .catalog__table {
    font-size: 16px;
  }

  .catalog__order {
    width: 250px;
    margin: 40px;
  }

  .catalog__show-more {
    width: 324px;
  }

  .catalog__show-more-name {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .catalog__description {
    font-size: 16px;
    width: 245px;
  }

  .catalog__show-all {
    margin-top: 270px;
    width: 250px;
  }
}

@media (min-width: @desktop-width)  {
  .catalog__wrapper {
    padding: 0 40px;
    width: 1300px;
  }

  .catalog__item {
    background-color: @bg-gray;
    width: 245px;
    margin-right: 80px;
  }

  .catalog__show-more {
    width: 245px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+5) {
    margin-bottom: 20px;
  }

  .catalog__order {
    width: 165px;
  }

  .catalog__show-all {
    width: 165px;
    margin-top: 250px;
  }
}
