.categoties {
  width: 320px;
}

.categoties__list {
  list-style: none;
  padding: 0;
}

.categoties__item {
  background-color: @bg-gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.categoties__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.categoties__description {
  font-size: 14px;
  line-height: 18px;
}

.categoties__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.categoties__link:active {
  opacity: 0.3;
}
