.categoties {
  width: 100%;
  background-color: @white;
}

.categoties__wrapper {
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}

.categoties__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.categoties__item {
  background-color: @bg-gray;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.categoties__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.categoties__description {
  font-size: 14px;
  line-height: 18px;
}

.categoties__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.categoties__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .categoties__wrapper {
    padding: 0 30px;
    width: 768px;
  }

  .categoties__item {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom:20px;
  }

  .categoties__title {
    font-size: 36px;
    line-height: 37px;
  }

  .categoties__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .categoties__wrapper {
    padding: 0 40px;
    width: 1300px;
  }

  .categoties__list {
    flex-direction: row;
  }

  .categoties__item {
    margin-right: 80px;
  }

  .categoties__item:last-child {
    margin-right: 0;
  }
}
