.contacts__suggestion {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__adress {
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  height: 362px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
}

.contacts__map-img {
  transform: translate(100px, 120px);
}
