.contacts {
  width: 100%;
  position: relative;
}

.contacts__wrapper {
  position: relative;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @bg-gray;

  &--inverted {
    background-color: @white;
  }
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__suggestion {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  width: 143px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 25px;
}

.contacts__adress {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts__map {
  line-height: 0;
  font-size: 0;
  width: 320px;
  margin: 0 auto;
  min-height: 365px;
}


.contacts__map-mark {
  margin-left: 102px;
  margin-top: -280px;
  min-height: 280px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding: 35px 30px 0;
    width: 768px;
  }

  .contacts__info {
    justify-content: space-between;
  }

  .contacts__suggestion {
    padding-left: 42px;
    width: 196px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 53px;
  }

  .contacts__adress {
    padding-right: 42px;
    width: 190px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 53px;

    & span {
      margin-top: 20px;
      display: block;
    }
  }

  .contacts__map {
    width: 768px;
    height: 400px;
    background: url("../img/bg-map-tablet@1x.png") no-repeat center;

    & img {
      display: none;
    }
  }

  .contacts__map-mark {
    margin-left: 502px;
    margin-top: -280px;
    min-height: 280px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    padding: 0 40px;
    width: 1300px;
  }

  .contacts__map {
    width: 1300px;
    background: url("../img/bg-map-desktop@1x.png") no-repeat center;
  }

  .contacts__info {
    position: absolute;
    box-sizing: border-box;
    top: 95px;
    left: 40px;
    width: 570px;
    background-color: @white;
    padding-left: 75px;
    padding-right:80px;
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .contacts__suggestion {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 82px;
  }

  .contacts__adress {
    padding-right: 0;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;

    & span {
      margin-top: 20px;
      display: block;
    }
  }

  .contacts__map-mark {
    margin-left: 928px;
    margin-top: -250px;
    min-height: 250px;
}
}
