.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
}

.copyright__text:active {
  opacity: 0.3;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: @bg-green;
}

.copyright__link:active svg {
  fill: @pale-green;
}
