.extra-goods {
  width: 100%;
}

.extra-goods__wrapper {
  padding: 0 20px 40px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.extra-goods__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 30px 0;
  text-align: left;

  &::before {
    content: "";

    position: absolute;
    top: 55px;
    left: 0;
    width: 280px;
    height: 1px;
    background: @mobile-extra-goods-border;
  }

  &::after {
    content: "";

    position: absolute;
    top: 13px;
    right: -20px;
    width: 53px;
    height: 3px;
    background: @bg-green;
  }
}


.extra-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.extra-goods__item {
  position: relative;
  padding: 15px 0;

  &::before {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;
    width: 280px;
    height: 1px;
    background: @mobile-extra-goods-border;
  }
}

.extra-goods__name {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.extra-goods__table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  position: relative;
}

.extra-goods__value {
  width: 50px;
  margin: 0;
  position: absolute;
  text-align: right;
  left: 230px;
  top: 0;
}

.extra-goods__order {
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
