.introduction {
  width: 320px;
  background: @bg-green url("../img/index-background-mobile@1x.jpg") no-repeat;
  text-align: center;
}

.introduction__header {
  color: @white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.introduction__slogan {
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
