.page-header {
  background-color: @white;
  display: flex;
  flex-direction: column;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 40px;
    justify-content: space-between;
  }
}
