.page-footer {
  background-color: @white;
  width: 100%;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.page-footer__logo-link:hover,
.page-footer__logo-link:focus {
  opacity: 0.8;
}

.page-footer__logo-link:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__social {
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
