.page-header {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}
