.page-footer {
  background-color: @bg-gray;
  width: 100%;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @bg-gray;
}

.page-footer__logo-link {
  margin-top: 33px;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: -25px;
    left: 0;
    width: 280px;
    height: 1px;
    background: @mobile-categories-lines;
  }
}

.page-footer__logo-link svg {
  fill: @font-color;
}

.page-footer__logo-link:hover,
.page-footer__logo-link:focus {
  opacity: 0.8;
}

.page-footer__logo-link:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 768px;
  }

  .page-footer__social {
    margin-top: 6px;
    margin-left: 22px;
  }

  .page-footer__logo-link {
    margin-top: 5px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
  }
}
