@bg-green: #68b738;
@bg-gray: #f2f2f2;
@pale-green:  #cee3c2;
@bright-green: #5eaa2f;
@light-green: #8fc46e;
@mobile-width: 320px;
@white: #ffffff;
@black: #000000;
@tablet-width: 768px;
@desktop-width: 1300px;
